<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>23136767304-r2qdpnstvhgafnqu2sp32k5mttrktvsl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.23136767304-r2qdpnstvhgafnqu2sp32k5mttrktvsl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>23136767304-5qvl3lga4arpk572tki3l9bomvkv93p5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBVq4xrehXLgQyEft7_ng_7th5rh1yrF9Q</string>
	<key>GCM_SENDER_ID</key>
	<string>23136767304</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appsmaven.sparksapp</string>
	<key>PROJECT_ID</key>
	<string>sparks-21e05</string>
	<key>STORAGE_BUCKET</key>
	<string>sparks-21e05.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:23136767304:ios:434dc8f4b518fb8ec3b77d</string>
</dict>
</plist>